body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leiras{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
    margin: 3rem;
    padding: 1rem;
    gap: 3rem;
}